<ng-template [ngIf]="!isUserLoggedIn" [ngIfElse]="inside_nav">
  <!--Header-->
  <header class="d-flex flex-row">
    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light flex-fill">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/icon.png" width="30" height="30" alt="">
        Confus
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" href="download">Download</a>
          <a class="nav-item nav-link" href="price">Price</a>
          <a class="nav-item nav-link" href="help">Help</a>
        </div>
        <div class="navbar-nav justify-content-end ml-auto">
          <a class="nav-item nav-link" href="login">Login</a>
          <a class="nav-item nav-link" href="signup">Sign Up</a>
        </div>
      </div>
    </nav>
  </header>
</ng-template>

<ng-template #inside_nav>
  <!--Header-->
  <header class="d-flex flex-row">
    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light flex-fill">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/icon.png" width="30" height="30" alt="">
        Confus
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex ml-auto">
        <button class="btn " type="button">
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>
    </nav>
  </header>
</ng-template>
