<div class="d-flex flex-row container-fluid p-4">
  <div class="d-flex h-100 side-bar">
    <ul class="list-group">
      <li class="list-group-item"><a href="dashbored">Dashboard</a></li>
      <li class="list-group-item"><a href="policies">Policy Management</a></li>
      <li class="list-group-item">Setting</li>
    </ul>
  </div>
  <div class="d-flex flex-column">
    dsfs
    dsfs
  </div>

</div>



