.list-group-item {
  border: unset;
}
//Not working atm
.content-text {
  border-bottom: gray;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
