<div class="d-flex flex-row container-fluid p-4 ">
  <div class="d-flex h-100 side-bar border-right mr-3 ">
    <ul class="list-group">
      <li class="list-group-item"><a href="dashbored">Dashboard</a></li>
      <li class="list-group-item"><a href="policies">Policy Management</a></li>
      <li class="list-group-item">Setting</li>
    </ul>
  </div>
  <div class="d-flex flex-column flex-fill">
    <div class="d-flex flex-row content-text">
      <div class="d-flex">
        <h2>Policy Management</h2>
      </div>
      <div class="d-flex flex-row ml-auto mr-2">
        <button class="btn " type="button" (click)="open(content)">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div>
      </div>
    </div>
    <div class="d-flex">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date Created</th>
          <th scope="col">Session ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pol of allPolicies">
          <th scope="row">{{pol.policy_name}}</th>
          <td>{{pol.date}}</td>
          <td>{{pol.session_ID}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<!--Modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Policy</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Policy Name*" id="policy-name"
                     [(ngModel)]="policyName" name="policyName" [value]="policyName" required>
            </div>
          </div>
        </div>
        <div class="col-sm">
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" id="urls" placeholder="keywords or www.youtube.com*"
                     [(ngModel)]="urlInput" name="url" required>
            </div>
          <button class="btn-primary" (click)="addUrls(urlInput)">add</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Website</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let url of urls">
                <th scope="row">{{url}}</th>
                <th><button class="btn-danger" (click)="deleteUrl(url)"> Delete</button></th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createPolicy()">Submit</button>
  </div>
</ng-template>



