<main class="container-fluid d-flex flex-column h-100">
  <div class="d-flex flex-column ">
    <img src="../../../assets/img/page-not-found.png" width="80" height="80" alt="">
    <span class="login-brand-font pt-2">Opps this page is not avavible!</span>

  </div>
</main>


