<section class="d-flex flex-column align-items-center justify-content-center ">

  <div class="w-50 shadow p-5 bg-white rounded">

    <div class="d-flex flex-column align-items-center">
      <img src="../../../assets/img/icon.png" width="80" height="80" alt="">
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center justify-content-center pt-2">
        <h4>Sign Up</h4>
        <h6>Create an account now it's free!</h6>
      </div>
      <div class="alert alert-danger" [hidden]="hide_dup_acc_err" role="alert">
        An account with the email <b>{{email_address}}</b> already excites.
      </div>
      <div class="d-flex align-items-center justify-content-center w-100 px-2">
        <form class="d-flex flex-column w-100" (ngSubmit)="signup()" [formGroup]="signup_form">

          <div class="form-group d-flex flex-column">
            <h6>Full Name</h6>
            <input type="text" class="form-control"
                   placeholder="Your Name" [(ngModel)]="fullname" formControlName="name">
            <div
              *ngIf="signup_form.get('name').invalid && (signup_form.get('name').dirty || signup_form.get('name').touched)"
              class="alert alert-danger">

              <div *ngIf="signup_form.get('name').errors.required">
                Name is required.
              </div>
              <div *ngIf="signup_form.get('name').errors.pattern">
                Must be alphanumeric name.
              </div>
            </div>
          </div>

          <div class="form-group d-flex flex-column">
            <h6>Email</h6>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="Email" [(ngModel)]="email_address" formControlName="email">
            <div
              *ngIf="signup_form.get('email').invalid && (signup_form.get('email').dirty || signup_form.get('email').touched)"
              class="alert alert-danger">

              <div *ngIf="signup_form.get('email').errors.required">
                Email is required.
              </div>
              <div *ngIf="signup_form.get('email').errors.pattern">
                Must be a valid email.
              </div>
            </div>
          </div>

          <div class="form-group d-flex flex-column">
            <h6>Password</h6>
            <input type="password" class="form-control" id="password" aria-describedby="Enter Password"
                   placeholder="Password" [(ngModel)]="password_one" formControlName="password">
            <small class="form-text text-muted">Password must be 8 characters.</small>
            <div
              *ngIf="signup_form.get('password').invalid && (signup_form.get('password').dirty || signup_form.get('password').touched)"
              class="alert alert-danger">

              <div *ngIf="signup_form.get('password').errors.required">
                Password is required.
              </div>
              <div *ngIf="signup_form.get('password').errors.minlength">
                Password has to be 8 characters.
              </div>
              <div *ngIf="signup_form.get('password').errors.pattern">
                Password must contain a special character.
              </div>
            </div>
          </div>

          <div class="form-group d-flex flex-column">
            <h6>Confirm Password</h6>
            <input type="password" class="form-control" id="passwordTwo"
                   placeholder="Password" [(ngModel)]="confirmation_password_one"
                   formControlName="password_confirmation">
            <div
              *ngIf="signup_form.get('password_confirmation').invalid && (signup_form.get('password_confirmation').dirty || signup_form.get('password_confirmation').touched)"
              class="alert alert-danger">

              <div *ngIf="signup_form.get('password_confirmation').errors.required">
                Password is required.
              </div>
              <div *ngIf="signup_form.get('password_confirmation').errors.minlength">
                Password has to be 8 characters.
              </div>
              <div *ngIf="signup_form.get('password_confirmation').errors.pattern">
                Password must contain a special character.
              </div>
              <div *ngIf="signup_form.get('password_confirmation').errors.passwordMatch">
                Password enter are not matching.
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-center col p-0">
            <button type="submit" class="btn btn-primary col 10 m4" >Sign Up</button>
          </div>

          <div class=" form group d-flex justify-content-center flex-row w-100">
            <div class="btn white darken-4 col s10 m4">
              <a href="/users/google-oauth/" style="text-transform:none">
                <div class="left">
                  <img width="20px" alt="Google &quot;G&quot; Logo"
                       src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                </div>
                Continue with Google
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

